<div
  *ngIf="weathers"
  class="cities"
  [style.backgroundImage]="'url(/assets/images/covers/' + currentCity.name.toLowerCase() + '.jpg)'"
  [@simpleFadeAnimation]="'in'">
  <div class="city"
    [ngClass]="{'active': currentCity.name == city.name}"
    *ngFor="let city of weathers | sort: sortBy; trackBy: trackByFn">
    <a 
      [routerLink]="['/']"
      [queryParams]="{city:city.name.toLowerCase()}">
      <div class="thumbnail">
        <img src="/assets/images/thumbnails/{{city.name.toLowerCase()}}.jpg" alt="" />
      </div>
      <div class="info">
        <span class="title">{{city.name}}</span>
        <span class="weather">{{city.weather[0].description}}</span>
        <span class="degrees">{{city.main.temp.toFixed()}} <small>°C</small></span>
      </div>
    </a>
  </div>
</div>
<app-weather-detail *ngIf="weathers && currentCity" [weatherData]="currentCity"></app-weather-detail>