<div class="sidebar">
  <h1>
    <a href="">Weather</a>
  </h1>
  <nav>
    <a href="#" class="active">
      <img src="assets/images/icons/home.svg" alt="sidebar nav link icon">
    </a>
    <a href="#">
      <img src="assets/images/icons/user.svg" alt="sidebar nav link icon">
    </a>
    <a href="#">
      <img src="assets/images/icons/location-pin.svg" alt="sidebar nav link icon">
    </a>
    <a href="#">
      <img src="assets/images/icons/settings.svg" alt="sidebar nav link icon">
    </a>
  </nav>
</div>
